fastapi
uvicorn[standard]
boto3
torch
torchvision
pillow
numpy
qdrant-client
prometheus-fastapi-instrumentator
python-multipart
pydantic
onnxruntime
onnxscript
open-clip-torch>=2.24.0
sqlalchemy
psycopg2-binary
